.container-services {
    display: flex;
    flex-direction: column;
    margin: 60px auto 40px;
    align-items: center;
}
.container-button {
    position: fixed;
    top: 80%;
    right: 25px;
}
.services-tittle {
    margin: 15px auto;
    font-size: 40px;
    color: #000;
}
