.productlist li {
    list-style: none;
}

.list {
    display: flex;
    justify-content: baseline;
}
.buttonCalls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 2.5rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 500;
    background: none;
    border-radius: 50px;
    border: solid #ffffff 2px;
}
.container-buttonsCalls {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.divButton {
    display: flex;
    justify-content: center;
    position: fixed;
    right: 20px;
    top: 80%;
    z-index: 1;
}
.container-certificate {
    z-index: -1;
}
.container-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-button {
    position: fixed;
    top: 80%;
    right: 25px;
}
.item {
    width: 150px;
    height: 150px;
}
.container-highlight {
    max-height: 530px;
}
.container-image {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    object-fit: cover;
    max-height: 530px;

}
.highlight-image {
    object-fit: cover;
    max-height: 530px;
    width: 100vw;
}
